<div id="jumbotron" class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Eat-A-Burger</h1>
  </div>
</div>

<div class="img">
  <i class="fas fa-hamburger"></i>
</div>

<h2>Create your burger</h2>
<form id="addburger">
  <input id="textName" type="text" name="burger" />
  <button id="newBurger" class="btn btn-primary" type="submit">Make</button>
</form>

<div class="container">
  <div class='row'>
    <div class='col-sm-4'>
      <h3 class="title">Burgers</h3>
      <ul>
        {{#each burgers}}
        {{#unless devoured}}
        <li>
          <h4>{{burger_name}}<button data-id="{{id}}" id="devour" class="btn btn-primary">Eat</button></h4>
        </li>
        {{/unless}}
        {{/each}}
      </ul>
    </div>
    <div class='col-sm-4'>
      <h3 class="title">Eaten Burgers</h3>
      <ul>
        {{#each burgers}}
        {{#if devoured}}
        <li>
          <h4>{{burger_name}}</h4>
        </li>
        {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>
</div>