<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eat A Burger | Mason Stafford</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../public/assets/css/style.css">
    <script src="https://kit.fontawesome.com/b7b9a63735.js" crossorigin="anonymous"></script>
</head>
<body>
    
    <header class="container-fluid">
      <div class="row">
        <div id="header1" class="col-12">
          <i id="burger" class="fas fa-hamburger"></i>
        </div>  
      </div>
    </header>

    <main class="container-fluid">
      <div class="row">
        
        <div class="col-3">
          <h1>Click To Eat</h1>
          {{#each burgers}}{{#unless eaten}}
          <button type="button" data-eaten='{{eaten}}' class="btn btn-success btn-lg btn-block devBurger"data-movieid="{{this.id}}">{{ burger_name }}</button>
          {{/unless}}{{/each}}
        </div>

        <div class="col-3">
          <h1>Eaten</h1>
          {{#each burgers}}{{#if eaten}}
          <button type="button" data-eaten='{{eaten}}' class="btn btn-success btn-lg btn-block devBurger"data-movieid="{{this.id}}">{{ burger_name }}</button>
          {{/if}}{{/each}}
        </div>

      </div>
    </main>

    <section class="container-fluid makeBurger">
      <div class="row">
        <div class="col-4">
          <form id="addBurger">
            <input class="form-control form-control-sm" type="text" placeholder="make a burger" name="burgerName">
            <button type="button" class="btn btn-primary submit" id="submit">Create A Burger!</button>
          </form>
        </div>
      </div>
    </section>

</body>
</html>