* {
    text-align: center;
    margin: 0 auto;
}

body {
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

#jumbotron {
    background: linear-gradient(90deg, rgba(0,123,255,1) 0%, rgba(9,9,121,1) 0%, rgba(0,123,255,1) 100%);
    color: #f2f2f2;
    font-family: 'Bungee Shade', cursive;
}

h2 {
    font-family: 'Bungee Shade', cursive;
}

#addburger {
    margin-bottom: 50px;
}

#textName {
    background-color: rgba(0,123,255,0);
    padding-bottom: 8px;
    padding-right: 80px;
    border: 2px solid #212529;
    border-radius: 10px;
}


.title {
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #007BFF;
    border-radius: 10px;
    color: #f2f2f2;
    box-shadow: 0 2px 3px 0 #9b9b9b;
    transition: ease 200ms;
}

.title:hover {
    transform: scale(1.02);
    box-shadow: 0 3px 4px 0 #9b9b9b;
}

ul{
    padding-bottom: 10px;
    padding-top:10px;
    margin-top: 5px;
    text-align: center;
    /* list-style: none; */
    background-color: #212529;
    color: #f2f2f2;
    border-radius: 10px;
}

i {
    font-size: 200px;
    margin: 50px;
}

button{
    border-radius: 10px;
    color: #f2f2f2;
    padding: 0 40px 0 40px;
    transition: ease 200ms;
    margin-left: 10px;
}

button:hover{
  transform: scale(1.03);
}